.custom-hotspot {
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  /* padding: 10px; */
}

.custom-tooltip iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.video-hotspot iframe {
  border: none;
  transition: transform 0.1s linear;
  /* Điều chỉnh mượt */
}

.custom-3d-hotspot {
  width: 400px;
  height: 225px;
  transform: translate(-50%, -50%) scale(1) perspective(2000px);
  /* Tăng perspective */
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  /* Thời gian chuyển tiếp dài hơn để mượt mà hơn */
}



.custom-3d-hotspot iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Tùy chỉnh trên thiết bị di động */
@media (max-width: 768px) {
  .pnlm-info-box {
    font-size: 1.8em;
    /* Tăng kích thước văn bản cho di động */
    padding: 25px;
    /* Tăng khoảng cách trong */
  }

  .custom-hotspot {
    width: 600px;
    height: 400px;
  }
}